*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
 --bg-color:#EAF6FF;
}

html{
  font-size: 62.5%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color: #EAF6FF;
}

h1,h2,h3,h4,h5{
  color: #000000;
}

p,li,a,button{
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  color:#fff;
}

li{
  list-style: none;

}

a{
  color: #000;

  &:hover{
    color:#2e86c1;
  }
}


button{
   display: flex;
   gap: 1.2rem;
   align-items: center;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.5;
   cursor: pointer;
   padding: 0.6rem 2.4rem;
   text-align: center;
   outline: none;
   border: none;
   text-transform: unset;
   transition: all 0.3s ease-in-out;
   background: #EAF6FF;
   color: #000;
   border-radius:1.5rem ;


}


/* Layout */
.container{
  max-width: 90rem;
  margin: auto;
}

.grid{
  display: grid;
}

.navbar-grid{
  grid-template-columns: repeat(3, 1fr,1fr,1fr);
}